* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyFont';
  src: url('../assets/ZakirahsHand.ttf') format('truetype'),
    url('../assets/ZakirahsHandB.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  /* background: url('./icon.jpg'); */
}